<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL Shortener</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body class="container-fluid">
    <%- include("../home.ejs") %>

    <script>
      const urls = document.getElementsByClassName("domain");
      for (url of urls) {
        url.innerHTML = `${window.location.protocol}\\\\${window.location.hostname}\\`;
      }
    </script>
  </body>
</html>
